.header-container .header-nav .nav li > a {
  font-size: 1.2em !important;
}

.owl-nav {
  top: 40% !important;
}

.owl-carousel.nav-dark.nav-style-1 .owl-nav .owl-next,
.owl-carousel.nav-dark.nav-style-1 .owl-nav .owl-prev {
  color: white !important;
}

.owl-prev,
.owl-next {
  font-size: 30px !important;
  font-weight: bold !important;
}

.long-space-y {
  margin-top: 10%;
  margin-bottom: 8%;
}

.long-space-b {
  margin-bottom: 8%;
}

.modo-de-uso-video {
  height: 412px !important;
}

.anchor {
  display: block;
  height: 92px;
  margin-top: -92px;
  visibility: hidden;
}

.logo-cut {
  width: 10% !important;
  margin: auto;
}

.cow {
  width: 50.2%;
}

.spray {
  margin-left: 10%;
  width: 30%;
}

.check {
  width: 32%;
}

.card-usos {
  margin-bottom: 7%;
}

.img-fluid {
  width: 90%;
}

@media (max-width: 992px) {
  .d-none-lg-slide {
    display: none !important;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .background-image-wrapper {
    background-image: url(../img/mobile1_d.png) !important;
  }
}

@media screen and (max-width: 600px) {
  .background-image-wrapper {
    background-image: url(../img/mobile1_d.png) !important;
  }

  .owl-carousel.nav-inside.nav-inside-plus .owl-nav button.owl-prev {
    left: 0;
  }
  .owl-carousel.nav-inside.nav-inside-plus .owl-nav button.owl-next {
    right: 30px;
    left: 88%;
  }
  .h1-mobile {
    margin-top: 20%;
    font-size: 2em !important;
  }
  .h1-aceite {
    margin-top: 40%;
  }
}

.ubre_bullet {
  margin: 0;
  padding: 36px 0 36px 84px;
  list-style: none;
  background-image: url("../img/logo_cut.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 40px;
}

.slide_title {
  font-size: 1.25em;
}
